<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello DbPool!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <%= link "DB-Pool", to: database_path(@conn, :index) %>
          </h1>
        </div>
      </div>
    </section>

    <section class="section is-flex-tablet-only">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div> <!-- /container -->
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Built with love by <strong><a href="codemancers.com">Codemancers</a></strong>
        </p>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
