use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :db_pool, DbPoolWeb.Endpoint,
  secret_key_base: "C5KcHC2MC/lNxzAmIkOcmTTSrsDRh1wuBOypgIHsDuQkTXL7nqpsImkW8KxPxkfy"

# Configure your database
config :db_pool, DbPool.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "db_pool_prod",
  pool_size: 15
